.dashboard {
  height: 100%;
  .app-header{
    width: 100%;
    height: 70px;
    z-index: 2;
    
    -webkit-box-shadow: 0px 1px 0px 0px rgba(130,130,130,0.2);
    -moz-box-shadow: 0px 1px 0px 0px rgba(130,130,130,0.2);
    box-shadow: 0px 1px 0px 0px rgba(130,130,130,0.2);
    .app-logo{
      height: 100%;
      img{
        width: auto;
        height: 70%;
        padding: 10px 0px 0px 30px;
      }
    }
    .menu-name{
      font-size: 2em;
      font-weight: bold;
      padding-left: 45px;
    }
  }
  .drawer {
    border: none;
    background-color: #354a5f;
    -webkit-box-shadow: 1px 0px 0px 0px rgba(130,130,130,0.5);
    -moz-box-shadow: 1px 0px 0px 0px rgba(130,130,130,0.5);
    box-shadow: 1px 0px 0px 0px rgba(130,130,130,0.5);
    z-index: 1;
    .menus{
      margin-top: 30px;
      .l-menu{
        width: 100%;
        height: 50px;
        margin: 5px 0px;
        cursor: pointer;
        a{
          text-decoration: none;
          color: #8899a3;
        }
        &.active{
          background-color: #21354a;
          mdl-icon{
            color: #4eb46b;
          }
          a{
            color: white;
          }
        }
        mdl-icon{
          padding: 0px 20px 0px 30px;
        }
      }
    }
  }
  .main-container{
    background-color: #eef3f6;
  }
}
